:root {
  --blue: #4682ea;
  --red: #FF9F95;
  --green: #39ca74;
  --rose: #FFE4E1;
  --gray: #D3D3D3;
}
body {
  scroll-behavior: smooth;
}
p {
 font-size: 120%;
}
#navbar {
  background-color: var(--rose);
  /* background-color: rgba(73,133,231255,.9); */
  border: none;
}
.container {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.primary-section {
  min-height: 50vh;
  padding-top:20vh;
  text-align: center;
}

.text-section {
  min-height: 50vh;
  text-align: center;
}
.nav {
  padding-left: 33px;
  padding-right: 33px;
}
.nav-brand {
  margin-bottom: 40px;
  font-size: 150%;
  font-weight: 600;
  color: black;
  font-family: 'Times New Roman', sans-serif;
}

.nav-logo-size {
  position: absolute;
  max-height: 40px;
  top:5px;
}
.navbar-font {
  font-family: 'Times New Roman', sans-serif;
  font-weight: 750;
  text-transform: uppercase;
  color: black;
  font-size: 150%;
}
.active-nav{
  background-color: var(--red);
}
.container {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

.primary-section {
  min-height: 50vh;
  padding-top: 10vh;
  text-align: center;
}

.text-section {
  font-size: 200%;
}

.footer {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-size: 200%;
  background-color: var(--gray);
}
.link{
  color: var(--blue);
}
